*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.box{
    margin: auto;
    height: 500px;
    width: 400px;
    border: 2px solid black;
}
.point{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
}